{
    "extends": [
        "airbnb-base",
        "plugin:vue/vue3-recommended",
        "prettier"
    ],
    "plugins": [
        "prettier",
        "vue"
    ],
    "rules": {
        "prettier/prettier": [
            "error"
        ]
    }
}
